@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional custom styles */
body {
  @apply font-sans-body bg-off-white text-navy-blue;
}

html {
  scroll-behavior: smooth;
}


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
