
.hindi-font {
  .kalam-light {
    font-family: "Kalam", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .kalam-regular {
    font-family: "Kalam", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .kalam-bold {
    font-family: "Kalam", serif;
    font-weight: 700;
    font-style: normal;
  }
  
}


